/* CSS全体に適用するためのリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* フォーム全体のコンテナ */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center; /* コンテナ内のテキストを中央揃え */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

/* フォーム内のラベル */
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}

/* フォーム内のインプット */
input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* ボタンスタイル */
.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 42px);
    margin-top: 10px;
}

a.button {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* ラジオボタンのグループ */
.radio-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* ラジオボタンのスタイル */
.radio-group input[type="radio"] {
    margin-right: 5px;
}

/* ラジオボタンのラベルスタイル */
.radio-group label {
    margin-right: 20px;
}

/* エラーメッセージのスタイル */
.error {
    color: red;
    margin-bottom: 20px;
}

/* フォームのボタンの間隔 */
form .button {
    width: 100%;
}

/* フォームのボタンとリンクの間隔 */
form .button + .button {
    margin-left: 10px;
}

/* メッセージのスタイル */
.message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}